<!-- ko view: home -->
<div class="container">
    <div class="row">
        <div data-bind="foreach: devices" class="col-lg-12">
            <!-- ko if: (actionType === 'onoff') -->
            <!-- ko if: (type === 'light') -->
            <div data-bind="click: $root.toggle" style="color: #fff;" class="tile-btn bg-blue">
                <div class="tile-content">
                    <div class="row">
                        <div style="margin-right: auto; margin-left: auto; width: 60%;">
                            <img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive" data-bind="attr: {src: value() === 1 ? '/img/light_bulb_on.png' : '/img/light_bulb_off.png'}">
                        </div>
                    </div>
                    <div class="tile-title" data-bind="text: name"></div>
                    <!--<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>-->
                </div>
            </div>
            <!-- /ko --> <!-- light -->
            <!-- /ko --> <!-- onoff -->
            <!-- ko if: (actionType === 'thermo') -->
            <div class="tile-btn" data-bind="click: $root.editThermo, css: {'bg-blue': isHigh, 'bg-red': isLow, 'bg-purple': (!isHigh() && !isLow())}">
                <div class="tile-content">
                    <i style="z-index: 2;" class="fa fa-cog"></i>
                    <h2 class="text-center" style="padding-top: 15%;"><!-- ko text: value --><!-- /ko -->&deg;</h2>
                    <div class="tile-title" data-bind="text: name"></div>
                    <!--<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>-->
                </div>
            </div>
            <!-- /ko --> <!-- thermo -->
            <!-- ko if: (actionType === 'sensor') -->
            <!-- ko if: type === 'motion' -->
            <div class="tile" data-bind="css: { 'bg-green': isOn}">
                <div class="tile-content">
                    <div data-bind="text: name" class="tile-title"></div>
                    <!--<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>-->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --> <!-- sensor -->
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko --><!-- end home -->