<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css" media="screen" >
    <link rel="stylesheet" href="/styles/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/mere-css/tiles.css">
    <link rel="stylesheet" href="/styles/mere-css/colors.css">
    <style>
        body {
            padding-top: 40px;
        }
    </style>
</head>
<body>
<script id="tmpl" type="text/html">
    {{#isInit}}
        {{#isSignedIn}}
            <div class="row">
                <div class="col-lg-12">
                    {{#devices: i}}
                    {{#(actionType === 'onoff')}}
                    {{>onoff}}
                    {{/light}}
                    {{/devices}}
                </div>
            </div>
        {{/isSignedIn}}
        {{^isSignedIn}}
            {{>signIn}}
        {{/isSignedIn}}
    {{/isInit}}

    <!-- {{>signIn}} -->
            {{#login}}
    <div style="margin: 50px auto;">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" value="{{email}}" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" value="{{password}}" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input checked="{{remember}}" type="checkbox"> Remember
                </label>
            </div>
            <button type="button" on-tap="login" class="btn btn-default">Login</button>
            <button type="button" on-tap="register" class="btn btn-default">Register</button>
        </form>
    </div>
            {{/login}}
   <!-- {{/signIn}} -->



    <!-- {{>onoff}} -->
    <div on-tap="toggle" style="color: #fff;" class="tile-btn bg-blue">
        <div class="tile-content">
            <div class="row">
                <div style="margin-right: auto; margin-left: auto; width: 60%;">
                    {{#(type === 'light')}}
                    <img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="/img/{{value === 1 ? 'light_bulb_on.png' : 'light_bulb_off.png'}}">
                    {{/light}}
                </div>
            </div>
            <div class="tile-title">{{name}}</div>
            <!--<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>-->
        </div>
    </div>
    <!-- {{/onoff}} -->
</script>

<!--style="display: none;"-->
<article id="content"  class="container">
    <!--<div class="row">-->
        <!--<div data-bind="foreach: devices" class="col-md-12">-->
            <!--&lt;!&ndash; ko if: type === 'light' &ndash;&gt;-->
            <!--&lt;!&ndash; ko if: actionType === 'onoff' &ndash;&gt;-->
            <!--<div data-bind="click: toggle" style="color: #fff;" class="tile-btn bg-blue">-->
                <!--<div class="tile-content">-->
                    <!--<div class="row">-->
                        <!--<div style="margin-right: auto; margin-left: auto; width: 60%;">-->
                            <!--&lt;!&ndash; ko if: isOn &ndash;&gt;-->
                            <!--<img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="/img/light_bulb_on.png">-->
                            <!--&lt;!&ndash; /ko &ndash;&gt;-->
                            <!--&lt;!&ndash; ko ifnot: isOn &ndash;&gt;-->
                            <!--<img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="/img/light_bulb_off.png">-->
                            <!--&lt;!&ndash; /ko &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div data-bind="text: name" class="tile-title"></div>-->
                    <!--&lt;!&ndash;<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--&lt;!&ndash; ko if: actionType === 'sensor' &ndash;&gt;-->
            <!--<div class="tile bg-blue">-->
                <!--<div class="tile-content">-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img style="display: block; margin-left: auto; margin-right: auto; visibility: hidden;" class="img-responsive" src="/img/light_bulb_on.png">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<h2 class="text-center" style="padding-top: 15%;" data-bind="text: value"></h2>-->
                    <!--<div data-bind="text: name" class="tile-title"></div>-->
                    <!--&lt;!&ndash;<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--&lt;!&ndash; ko if: type === 'motion' &ndash;&gt;-->
            <!--<div class="tile" data-bind="css: { 'bg-green': isOn}">-->
                <!--<div class="tile-content">-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img style="display: block; margin-left: auto; margin-right: auto; visibility: hidden;" class="img-responsive" src="/img/light_bulb_on.png">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div data-bind="text: name" class="tile-title"></div>-->
                    <!--&lt;!&ndash;<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--&lt;!&ndash; ko if: type === 'temp' &ndash;&gt;-->
            <!--<div class="tile-btn bg-purple" data-bind="click: $root.editThermo, css: {'bg-blue': isCool, 'bg-red': isHeat}">-->
                <!--<div class="tile-content">-->
                    <!--<i style="z-index: 2;" class="fa fa-cog"></i>-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img style="display: block; margin-left: auto; margin-right: auto; visibility: hidden;" class="img-responsive" src="/img/light_bulb_on.png">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<h2 class="text-center" style="padding-top: 15%;" data-bind="text: value() + '&deg;'"></h2>-->
                    <!--<div data-bind="text: name" class="tile-title"></div>-->
                    <!--&lt;!&ndash;<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--&lt;!&ndash; ko if: type === 'overheadDoor' &ndash;&gt;-->
            <!--&lt;!&ndash; ko if: actionType === 'momentary' &ndash;&gt;-->
            <!--<div data-bind="click: toggle" style="color: #fff;" class="tile-btn bg-blue">-->
                <!--<div class="tile-content">-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; ko if: isOn &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="/img/light_bulb_on.png">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; /ko &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; ko ifnot: isOn &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="/img/light_bulb_off.png">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; /ko &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div data-bind="text: name" class="tile-title"></div>-->
                    <!--&lt;!&ndash;<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
            <!--&lt;!&ndash; /ko &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
</article>

<div id="yup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Pin</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <!--<div class="form-group">-->
                        <!--<label>Email: </label>-->
                        <!--<input type="text" data-bind="value: email">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label>Pin: </label>
                        <input type="password" data-bind="value: pin">
                    </div>
                    <br>
                    <div class="checkbox">
                        <label>
                            &nbsp;<input type="checkbox" data-bind="checked: remember"> Remember
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnYup" data-bind="click: yup" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="thermoEdit" class="modal fade">
    <!-- ko with: curThermo -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit <!-- ko text: name --><!-- /ko --></h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                    <label>Temp: </label>
                    <input type="text" data-bind="value: trigger">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnThermoEdit" data-bind="click: setTrigger" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <!-- /ko -->
</div><!-- /.modal -->

</body>
<script type="text/javascript"   src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/scripts/jquery-2.0.3.min.js'" + "%3E%3C/script%3E"));
    }
</script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/ractive-0.3.7.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/app/app.js"></script>
</html>